
.type {
    border: 1px ;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}

.type span {
        font-family: 'Times New Roman', Times, serif;
        color: #100202;
        font-size: 30px;;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid rgb(227, 82, 135) ; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
            typing 3.5s steps(54) 1s 1 normal both,
            blink-caret .5s steps(54) infinite normal;
        text-align: start;

    }

    /* The typing effect */
    @keyframes typing {
    from { width: 0 }
    to { width:33% }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
        from, to { border-color: transparent }
        100% { border-color: rgb(227, 82, 135) }
    }

    @media only screen and (max-width: 500px){
        .type span{
            font-size: 15px;
        }
        .intro
        {
            font-size: 10px;
        }
        @keyframes typing {
            from { width: 0 }
            to { width:54% }
        }
    }

  /*  @media only screen and (max-width: 736px){
        .type span{
            font-size: 20px;
        }
        .intro
        {
            font-size: 15px;
        }
        @keyframes typing {
            from { width: 0 }
            to { width:54% }
        }
    }*/

    @media only screen and (max-width: 980px){
        .type span{
            font-size: 25px;
        }
        .intro
        {
            font-size: 20px;
        }
        @keyframes typing {
            from { width: 0 }
            to { width:61% }
        }
    }

    @media only screen and (max-width: 1580px){
        .type span{
            font-size: 20px;
        }
        .intro
        {
            font-size: 15px;
        }
        
    }


    .intro{
        display: flex;
        flex-direction: row;
        align-items: left;
        justify-content: auto;
        text-align: justify;
    }


.projects h2{
  padding-left: 50px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;

}

.tech-stack 
{   display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    gap: 10px; /* Space between the items */
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    margin: 20px; /* Margin around the list */
}

.tech-stack li{
    display: flex; /* Flexbox to align items horizontally */
    align-items: center; /* Center items vertically */
    padding: 5px 0; /* Padding for list items */
}

.tech-stack li::before
{
    content: '▶'; /* Custom bullet point */
    margin-right: 10px; /* Space between bullet and text */
    color: #02130d; /* Color of the bullet */
    font-size: 12px; /* Size of the bullet */
}


/* grid container */


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    gap: 20px; /* Space between the grid items */
    padding: 20px;
}

.grid-item {
    padding: 15px;
    border-radius: 8px;
}

.grid-item img {
    width: 100%; /* Make images responsive */
    border-radius: 10px;
}

.description {
    font-size: 15px; /* Font size for the description */
    justify-content: flex-start; /* Align text to the start */
    margin-top: 10px;
    text-align: justify
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Stack items vertically on smaller screens */
    }
}

/*
.resumedoc a {
    border: 1px solid;
    display: flex;
   
    text-align: right;
}
    */